h2, h3, h4, h5 {
  margin: 0px;
}
.img-course {
  height: 17rem;
  object-fit: cover;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 5.3rem;
}
.description {
  font-size: 1.1rem;
  font-weight: normal;
  text-align: justify;
}
.progress {
	height: 1.5rem;
}
.progress-bar {
	font-weight: bold;
	font-size: .9rem;
}
