.image-input-container {
  width: 100%;
  height: 100%;
}

.image-input-container > img {
  width: 100%;
  height: 100%;
}

.image-input-container > input {
  width: 0;
}

@media screen and (min-width: 576px) {
  .image-input-container > img {
    height: 15rem;
  }
}