.img-register-curso {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-register-curso img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
}

.img-register-curso input {
	width: 19%;
	position: absolute;
}