.hidden-input {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  position: absolute;
}

.hidden-input:selected {
  outline: none;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.box {
  display: grid;
  place-items: center;
  font-size: 30px;
  font-family: sans-serif;
  border: 1px solid #aaa;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.box.box-selected {
  outline-style: solid;
  outline-color: lightblue;
  outline-width: 3px;  
}